:root {
	--player2: "Press Start 2P", sans-serif;

	--break1: 504px;
	--break2: 1024px;
	--break3: 1170px;
	
	--break-sm: 320px;
	--break-md: 375px;
	--break-lg: 425px;
	--break-xl: 768px;
	--break-xxl: 1024px;
	--break-xxxl: 1440px;
	--break-xxxxl: 2560px;
	
	--gray-dark: #0a0a0a;
	--gray: #222;
	--gray-light: #3d3d3d;

	--green-dark: #0a910d;
	--green: #11d217;
	--green-light: #00ff28;

	--base-unit: 8px;

	/*****************************************
	USE DEFAULT SIZE OF 16PX SET BY BROWSERS
	*****************************************/
	--text-base-size: 1em;
	--text-scale-ratio: 1.2;

	--text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
	--text-sm: calc(1em / var(--text-scale-ratio));
	--text-md: calc(1em * var(--text-scale-ratio));
	--text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio)
	);
	--text-xxl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio) * var(--text-scale-ratio)
	);
	--text-xxxl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio)
	);

	--heading-line-height: 1.4;
	--body-line-height: 2.1;

	--space-unit: 1em;
	--space-xxs: calc(0.25 * var(--space-unit));
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.75 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--space-xl: calc(3.25 * var(--space-unit));
	--space-xxl: calc(5.25 * var(--space-unit));
}

$player2: "Press Start 2P", sans-serif;

//break widths
$break1: 504px;
$break2: 1024px;
$break3: 1170px;

//@colors
//remove the specific color names
$gray-dark: #0a0a0a;
$gray: #222;
$gray-light: #3d3d3d;

$green-dark: #0a910d;
$green: #11d217;
$green-light: #00ff28;

//@unit scale
$base-unit: 8px;
